#Common dependencies for the project
torch==2.6.0
transformers==4.51.0
accelerate>=0.21.0
sentencepiece==0.2.0
protobuf==3.20.3

#vLLM dependencies
vllm==0.8.2

#Ray dependencies
ray==2.44.1

#API dependencies
fastapi==0.115.12
uvicorn==0.34.0
